@import url('http://fonts.googleapis.com/css?family=Syncopate');

#landingVideo { 
	top: 0px;
	margin: 0;
	padding: 0;
	border: 0;
}

#socialMedia { 
	list-style: none;
	position: fixed;
	display: inline-block;
	top: 20px;
	right: 35px;
}

#socialMediaLogo { 
	display: inline-block;
	top: 2px;
	margin-right: 10px;

}

#socialMediaLogo img { 
	opacity: 0.5;
}

#mainTitle {
	position: absolute;
	width: 100%;
	text-align:center;
	top:225px;
	left:0px;
	color: #fff;
	font-size: 60px;
	font-family: Syncopate;
}

#mainTitle2 { 
	position: absolute;
	text-align: center;
	width: 100%;
	top: 325px;
	left:0px;
	color: #fff;
	font-family: Syncopate;
	font-size: 30px;
}

#backToHome { 
	position: fixed;
	top: 10px;
	left: 20px;
	display: inline-block;
}

#container { 
	width: 100%;
	height: 760px;
	position: relative;
}

#home, 
#emails { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#emails { 
	height: 200px;
	z-index: 10;
}

#ss-form { 
	text-align: center;
	margin-top: 410px;
}

#ss-submit { 
	height: 33px;
	font: bold 13px Syncopate;
	border: none;
	background: black;
	color: white;
	display: inline-block;
	padding: 11px 10px;
}

#entry_501488238 { 
	height: 30px;
	width: 200px;
}

h5 { 
	color: white;
	font-family: arial;}