@import url('http://fonts.googleapis.com/css?family=Syncopate');

#nav_desktop { 
	position: fixed;
}

#mainTitle {
	position: absolute;
	width: 100%;
	text-align:center;
	top:300px;
	left:0px;
	color: #fff;
	font-size: 60px;
	
}
#subTitle {
	position: absolute;
	width: 100%;
	text-align:center;
	top:370px;
	left:0px;
	color: #fff;
	font-size: 40px;
	
}

.headerBox { 
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: #191919;
	opacity: 0.82;
	background-image: -webkit-linear-gradient(top, #444, #000);
	background-image: -moz-linear-gradient(top,#444,#000);
	background-image: -ms-linear-gradient(top,#444,#000);
	background-image: -o-linear-gradient(top,#444,#000);
	background-image: linear-gradient(top,#444,#000);
	
}

.headerBox p { 
	display: inline-block; 
	position: relative;
	margin-left: 100px; 
	font-family: Syncopate; 
	color: White; 
}

.home_page { 
	display: inline-block;
	float: left;
	width: auto;
}

body { 
	margin: 0;
	border: 0;
	padding: 0;
}

#right_header { 
	float: right;
	font-weight: 600;
	width: 400px;
	position: relative;
	margin-right: -10px; 
	color: White; 
	margin-top: 20px;
	}


.nav-item { 
	font-family: Syncopate;
	color: #fff;
	list-style: none;
	padding: 0.5em 0.375em;
	font-weight: 600;
	display: inline-block;
	margin-right: 5px;
	
}

.log_in { 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
	width: 32px; 
	height: 32px; 
	max-width: none; 
	vertical-align: middle;
	display: inline-block;
	margin-top: -10px;
	margin-left: 15px;
	}

	#right_header li p{ 
		display: inline;
		font-family: Syncopate;
		margin-left: 5px;
		font-weight: 100;
		font-size: 14px;
	}

